<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Cadastrar Cliente</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-4">
  <h1>Cadastrar Cliente</h1>
  <form method="post">
    <div class="mb-3">
      <label>Nome:</label>
      <input type="text" name="nome" class="form-control" required>
    </div>
    <div class="mb-3">
      <label>Email:</label>
      <input type="email" name="email" class="form-control">
    </div>
    <div class="mb-3">
      <label>Telefone:</label>
      <input type="text" name="telefone" class="form-control">
    </div>
    <div class="mb-3">
      <label>Endereco:</label>
      <input type="text" name="endereco" class="form-control">
    </div>
    <div class="mb-3">
      <label>cpf:</label>
      <input type="" name="email" class="form-control">
    </div>
    <div class="mb-3">
      <label>servico:</label>
      <input type="email" name="email" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <a href="/" class="btn btn-secondary">Voltar</a>
  </form>
</body>
</html>
